@import '../../layout/mixins';
@import '../../layout/global-variables';
@import './messages.component.variables';

/*
 * Messages block can have a lot of items inside.
 * To avoid performance issue due to a large DOM
 * tree size a virtual scrolling from angular
 * material cdk
 */
.#{$messages-container-class} .#{$virtual-scroll-container-class} {
  top: 1.071rem;
  margin: 0 1.143rem;
  @include flex(column);
  @include flex-alignment(flex-start, center, center);
}
