@import '../../layout/mixins';
@import './messages.component.variables';

:host {
  @include max-tall-block();
}

.#{$messages-container-class} {
  /*
   * To prevent horizontal scrollbar, when
   * swiping a message horizontally outside a viewport
   */
  overflow-x: hidden;
  @include max-tall-block();

  &__item {
    display: block;
  }
}
