@import '../../layout/mixins';

.message {
  padding: 1.214rem 2.214rem 1.5rem 1.143rem;
  margin: 0 0 0.571rem;
  min-height: auto;
  max-width: 23.5rem;
  width: 100%;
  cursor: pointer;

  &__header {
    @include flex();
    @include flex-alignment(flex-start, center, center);
  }

  &__meta {
    margin: 0 0 0 1.142rem;
    @include flex(column);
    @include flex-alignment(center, flex-start, flex-start);
  }

  &__author-name {
    padding: 0;
    margin: 0 0 0.429rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
  }

  &__publish-date {
    font-size: 0.857rem;
  }

  &__text {
    padding: 0;
    margin: 1.357rem 0 0;
    font-size: 1rem;
    line-height: 1.3;
  }

  &__author-picture {
    @include circle(2.858rem);
  }
}
