<article
  class="message mdl-card mdl-shadow--2dp"
  [@messageAnimationState]="animationState"
  (@messageAnimationState.start)="startAnimation($event)"
  (@messageAnimationState.done)="finishAnimation($event)"
  (swiperight)="applyAnimationState('messageDismissedToRight')"
  (swipeleft)="applyAnimationState('messageDismissedToLeft')"
  (panleft)="startDrag($event)"
  (panright)="startDrag($event)"
  (panend)="stopDrag()"
  (pancancel)="stopDrag()"
>
  <header class="message__header">
    <img class="message__author-picture" [src]="authorPicUrl" [alt]="message.author.name" />
    <section class="message__meta">
      <h6 class="message__author-name">{{message.author.name}}</h6>
      <time class="message__publish-date">{{message.updated | timeAgo}}</time>
    </section>
  </header>
  <p class="message__text">{{message.content}}</p>
</article>
