@mixin circle($width) {
  width: $width;
  height: $width;
  border-radius: $width / 2;
}

@mixin flex($direction: row) {
  /* For old Safari */
  display: -webkit-flex;
  display: flex;
  flex-direction: $direction;
}

@mixin flex-alignment($justify-content: flex-start, $align-items: stretch, $align-content: stretch) {
  justify-content: $justify-content;
  align-items: $align-items;
  align-content: $align-content;
}

@mixin max-tall-block() {
  height: 100%;
  display: block;
}
