<header class="mdl-layout__header is-casting-shadow app-header">
  <button
    class="mdl-button mdl-js-button mdl-button--icon"
    (click)="activateMenu()"
  >
    <i class="material-icons">dehaze</i>
  </button>
  <span class="mdl-layout-title app-header__title">Messages</span>
</header>
