@import '../../layout/mixins';
@import '../../layout/global-variables';

.app-header {
  padding: 0 0 0 1.285rem;
  min-height: $header-height;
  @include flex(row);
  @include flex-alignment(flex-start, center, center);

  &__title {
    margin: 0 0 0 2.5rem;
  }
}
